<div class="dashboardPage">
    <h2 class="pageTitle">Dashboard</h2>
    <div class="d-flex">
        <div class="chart-row first">
            <div class="chartBox">
                <h3 class="title">Doughnut Chart</h3>
                <ngx-charts-pie-chart
                    [view]="view"
                    [doughnut]="true"
                    [trimLabels]="true"
                    [scheme]="colorScheme.pie"
                    [arcWidth]="0.40"
                    [results]="data"
                    [labels]="true"
                    (select)="onSelect($event)">
                </ngx-charts-pie-chart>
            </div>

            <div class="chartBox">
                <h3 class="title">Bar Chart</h3>
                <ngx-charts-bar-vertical
                    [view]="view"
                    [scheme]="colorScheme.bar"
                    [results]="data"
                    [gradient]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>

    <div class="chart-row sec">
        <div class="chartBox">
            <h3 class="title">Scatter Plot</h3>
            <ngx-charts-bar-vertical
                [view]="view"
                [scheme]="colorScheme.bar"
                [results]="data"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>

        <div class="chartBox">
            <h3 class="title">Line Chart</h3>
            <ngx-charts-pie-chart
                [view]="view"
                [doughnut]="true"
                [trimLabels]="true"
                [scheme]="colorScheme.pie"
                [arcWidth]="0.40"
                [results]="data"
                [labels]="true"
                (select)="onSelect($event)">
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>
